.button {
    -fx-background-color: derive(#4f6eff, -15%);
}

.button:hover {
    -fx-text-fill: derive(#4f6eff, 80%);
}

.loginButton {
    -fx-background-color: #4f6eff;
}

.loginButton:hover {
    -fx-background-color: derive(#4f6eff, 15%);
}